<div class="sidebar-nav">
	<div class="nav-header"></div>
   	<b><ul class="nav nav-list">
     <li class="active"><%= link_to "Startups", root_path %></li>
     <li><%= link_to "Activity", "#"  %></li>
    </ul></b>
</div>