		
	<div class="tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#tabs1-pane1" data-toggle="tab"><b>Pitch</b></a></li>
			<li><a href="#tabs1-pane2" data-toggle="tab"><b>Updates</b></a></li>
		</ul>
			<div class="tab-content">
			<div class="tab-pane active" id="tabs1-pane1">										
				<p><%= @startup.pitch %></p>
				<div class="muted">
					By <%= link_to @startup.user.username, "#" %>
				</div>
				</div>
			<div class="tab-pane" id="tabs1-pane2">
			<p>
			<center><h1>Updates Coming Soon</h1></center>
			</p>
		</div>
		</div><!-- /.tab-content -->
		</div><!-- /.tabbable -->
		<%= render "update_modal" %>
