
<div id="socialite">
	<div><a href="https://twitter.com/share" class="socialite twitter-share" data-text="<%= @startup.name %>, <%= @startup.tagline %>" data-via="leangild" data-hashtags="DiscoveryPlatform" data-dnt="false" data-count="bubble">Tweet</a></div>
	<div class="socialite googleplus-share" data-action="share" data-annotation="bubble"></div>
	<div class="socialite facebook-like" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false" data-font="arial"></div>
 </div>
