<% provide(:title, "#{ @startup.name }")%>
<%- model_class = Startup -%>
<div class="span3">
	</br>
	 <%= render 'sidebar' %>
</div>
<div class="span9">
	<div class="page-header">
	  <%= render "startup_header" %>
	</div>
	    <%= render "startup_contents" %>
	<div class="form-actions muted">
	<%= render "startup_actions" %>
</div>
</div>