<% if @requested_startups.any? %>
  <ol class="listed_items">
    <%= render partial: 'users/startup_item', collection: @requested_startups %>
  </ol>
<% else %>
  <h3>No invitation requests yet.</h3>
<% end %>