<% if @users_startups.any? %>
  <ol class="listed_items">
    <%= render partial: 'users/startup_item', collection: @users_startups %>
  </ol>
<% else %>
  <h3>No startups created yet.</h3>
<% end %>


