<% provide(:title, "About HashGild") %>
<div>
  <h1>About HashGild</h1>
</br>
</div>
<p style="font-size: 18px">
	HashGild is a Competitive Research consultancy & Ruby/Ruby on Rails design and development shop. We specialize in early stage ideas and minimum viable products. We work with entrepreneurs to develop web based products and services, and bring products market.
</p>
</br>
<div>
<div>
  <h1>The Process</h1>
</div> 
<div>
  <div class="span4">
        <h2>Ideas + Solutions</h2>
        <p style="font-size: 18px;">HashGild works with entrepreneurs to refine their ideas. We perform competitive research to truly understand problems and improve ideas. Our goal is to come up with a solid understanding of an overall challenge, the people involved, and ways to properly implement an idea.</p>
  </div>
 <div class="span4">
   <h2>Prototypes + MVP</h2>
       <p style="font-size: 18px;">HashGild then develops web-based prototypes and minimum viable products based on our understanding of a problem and its solutions. Our goal is to have a functioning product for potential customers/users to test, receive feedback and improve on products.</p>
  </div>
  <div class="span4">
      <h2>Launch + Funding</h2>
      	<p style="font-size: 18px;">
      	HashGild continues to work with entrepreneurs until full product launch. We work together to develop a sustainable business model, with Venture Capital as an option. Our goal is ensure entrepreneurs have the support needed to build sustainable, profitable businesses.</p>
  </br>
 </div>
</div>
</div>
<div>
<div>
  <h1>The Team</h1>
</div> 
<div>
  <div class="span6">
        <h3>Raymond Cudjoe</h3>
        <p style="font-size: 18px;">
		Co-Founder & CEO </br>
		Consultant and Web Developer</br>
		Email: rkcudjoe@gmail.com</br>
		Twitter: @rkcudjoe 
     	</p>
 </div>
  <div class="span6">
        <h3>Yazan Sehwail</h3>
        <p style="font-size: 18px;">
		Co-Founder & COO </br>
		Consultant and Software Programmer</br>
		Email: ysehwail@gmail.com </br>
		Twitter: @ysehwail
     	</p>
 </div>
</div>
</div>


