<% if user_signed_in? %>
<% provide(:title, 'All Startups') %>
	<div class="span3">
		<%= render 'application/sidebar' %>
	</div>
	<div class="span9">
		<%= render 'startups/index'%>
	</div>
<% else %>
<% provide(:title, 'The Lean Startup Gild') %>
<div>
  <h1>WELCOME TO LEANGILD, FOUNDERS/STARTUPS</h1>
</div>
   <div>
   <div class="span4">
     <h2>Reach</h2>
     <p>
     <b>Definition - </b>Make contact or communicate with (someone) by telephone or other means.
     Leangild is a platform for founders/startups to REACH potential customers/users.		
     </p>
     </div>
    <div class="span4">
    <h2>Engage</h2>
    <p>
   	<b>Definition - </b>Cause someone to become involved in (a conversation or discussion).
	 Leangild provides an environment for founders/startups to ENGAGE with potential customers/users.
     </p>
     </div>
     <div class="span4">
     <h2>Understand</h2>
     <p>
	<b>Definition - </b>Be sympathetically or knowledgeably aware of the character or nature of (something). UNDERSTAND the significance, explanations and causes of the problems that your potential customers/users are facing and innovate to solve them.	
     </p>
     </div>
     </div>
    <div>
	<h1>AND EARLY ADOPTERS.</h1>
	</div>
	<div>
  	<div class="span4">
    <h2>Access</h2>
    <p>
    <b>Definition - </b>The right or opportunity to use or benefit from something.
    Gain early ACCESS to products and help guide the design and development of products.
     </p>
     </div>
     <div class="span4">
     <h2>Feedback</h2>
     <p>
     <b>Definition - </b>Information about reactions to a product, a person's performance of a task, etc., used as a basis for improvement. Provide FEEDBACK and help startups improve their products.
     </p>
     </div>
      <div class="span4">
       <h2>Sign Up or Sign In</h2>
        <p><%= link_to "Sign Up", signup_path, :class => 'btn btn-large btn-block' %></p>
        <p><%= link_to "Sign In", signin_path, :class => 'btn btn-large btn-block btn-success' %></p>
        </div>
      </div> 
    <% end %>