<% if user_signed_in? %>
<% provide(:title, 'All Startups') %>
	<div class="span3">
		<%= render 'application/sidebar' %>
	</div>
	<div class="span9">
		<%= render 'startups/index'%>
	</div>
<% else %>
<% provide(:title, 'Gauge Interest. Attract Potential Customers and Members.') %>
<div class="hero-unit">
<h1>Welcome to leangild!</h1> </br>
							  </br>
	<h2>The lean startup gild.</h2>
<strong>Gauge demand for your startup. Customer Development and Discovery.</strong> </br>
</br>
</br>
	<%= button_to "Sign Up", signup_path, :class => "btn btn-large btn-primary btn-block" %> 
	<%= button_to "Sign In", signup_path, :class => "btn btn-large btn-success btn-block" %>
</div>
<% end %>