<% if user_signed_in? %>
<% provide(:title, 'All Startups') %>
	<div class="span3">
		<%= render 'application/sidebar' %>
	</div>
	<div class="span9">
		<%= render 'startups/index' %>
	</div>
<% else %>
<% provide(:title, 'Customer Discovery and Development, Simplified!') %>
<div>
  <h1>WELCOME TO LEANGILD, ENTREPRENEURS!</h1>
</div>
<div>
<i><h2>Customer Discovery and Development, Simplified!</h2></i>
</div>
<div>
	<b><i>CREATE PAGES FOR YOUR STARTUPS AND REACH POTENTIAL CUSTOMERS/USERS. ENGAGE WITH THEM TO UNDERSTAND THE SIGNIFICANCE, EXPLANATIONS, & CAUSES OF THEIR PROBLEMS AND INNOVATE TO SOLVE THEM. VALIDATE YOUR IDEAS! GAUGE DEMAND FOR YOUR PRODUCTS!</i></b>
														</br>
														</br>
 </div>
 <div>
 <div>
  	<h1>POTENTIAL CUSTOMERS & EARLY ADOPTERS!</h1>
</div>
<div>
<i><h2>Product Discovery, Simplified!</h2></i>
</div>
<div>
	<b><i>REQUEST INVITE FOR INTERESTING PRODUCTS AND GAIN EARLY ACCESS TO EVALUATE THEM. PROVIDE FEEDBACK TO HELP STARTUPS IMPROVE THEIR PRODUCTS. BE FIRST TO KNOW!</b></i>
										</br>
								  	   </br>
</div>
 <div>
  <div class="span6">
      <p>
      	<%= link_to "Sign Up", signup_path, :class => 'btn btn-large btn-block' %>
      </p>
  </div>
  <div class="span6">
  		<p>
  		<%= link_to "Sign In", signin_path, :class => 'btn btn-large btn-block btn-success' %>
  	</p>
     </div>
  </div> 
  </div> 
<% end %>