<% if user_signed_in? %>
<% provide(:title, 'All Startups') %>
	<div class="span3">
		<%= render 'application/sidebar' %>
	</div>
	<div class="span9">
		<%= render 'startups/index' %>
	</div>
<% else %>
<% provide(:title, 'Customer Discovery and Development, Simplified!') %>
<div>
  <h1>WELCOME TO LEANGILD, ENTREPRENEURS!</h1>
</div>
<div>
<i><h2>Customer Discovery and Development, Simplified!</h2></i>
</div>
<div>
	<b><i>CREATE PAGES</b></i> for your <i><b>STARTUPS</b></i> and <i><b>REACH</b></i> potential <b><i>CUSTOMERS/USERS</i></b>. <i><b>ENGAGE </b></i>with them to <i><b>UNDERSTAND</b></i> the <b><i>SIGNIFICANCE</b></i>, <b><i>EXPLANATIONS</b></i>, and <b><i>CAUSES</b></i> of their <b><i>PROBLEMS</i></b> and <i><b>INNOVATE</b></i> to solve them. <i><b>VALIDATE</b></i> your <i><b>IDEAS!</b></i> <i><b>GAUGE DEMAND</i></b> for your <i><b>PRODUCTS!</i></b>
																		</br></br>
</div>
  <div>
  <div>
  <h1>POTENTIAL CUSTOMERS & EARLY ADOPTERS!</h1>
</div>
<div>
<i><h2>Product Discovery, Simplified!</h2></i>
</div>
<div>
	<b><i>REQUEST INVITE</b></i> for <i><b>INTERESTING PRODUCTS</b></i> and <i><b>GAIN EARLY ACCESS </b></i> to <b><i>EVALUATE PRODUCTS.</i> </b><i><b>PROVIDE FEEDBACK</b></i> to help <i><b>STARTUPS IMPROVE</b></i> their <b><i>PRODUCTS. BE THE FIRST TO KNOW!</b></i>
										</br>
								  	   </br>
</div>
 <div>
  <div class="span6">
      <p>
      	<%= link_to "Sign Up", signup_path, :class => 'btn btn-large btn-block' %>
      </p>
  </div>
  <div class="span6">
  		<p>
  		<%= link_to "Sign In", signin_path, :class => 'btn btn-large btn-block btn-success' %>
  	</p>
     </div>
  </div> 
  </div> 
<% end %>