<% if user_signed_in? %>
<% provide(:title, 'All Startups') %>
	<div class="span3">
		<%= render 'application/sidebar' %>
	</div>
	<div class="span9">
		<%= render 'startups/index'%>
	</div>
<% else %>
<% provide(:title, 'The Lean Startup Gild') %>
<div class="hero-unit">
<h1>Welcome to leangild!</h1> </br>
							  </br>
<strong>A Customer Development and Discovery platform for startups. </br>
 Gauge demand for your products and attract potential customers and users.</strong> </br>
</br>
</br>
	<%= button_to "Sign Up", signup_path, :class => "btn btn-large btn-block" %> 
	<%= button_to "Sign In", signin_path, :class => "btn btn-large btn-success btn-block" %>
</div>
<% end %>