<% provide(:title, '') %>
<% if user_signed_in? %>
	<div class="span3">
	</br>
		<%= render 'application/sidebar' %>
	</div>
	<div class="span9">
	</br>
		<%= render 'startups/index' %>
	</div>
<% else %>
<div class="hero-unit">
<center style="font-size: 4em; margin-bottom: 1em;">betapass</center>
<center>
<p style="font-size: 2em; margin-bottom: .6em;">Get early access to products.</p>
</center>
</div>
<% end %>