<% provide(:title, '') %>
<% if user_signed_in? %>
	<div class="span3">
	</br>
		<%= render 'application/sidebar' %>
	</div>
	<div class="span9">
	</br>
		<%= render 'startups/index' %>
	</div>
<% else %>
<div class="hero-unit">
<center style="font-size: 4em; margin-bottom: 1em;">leangild</center>
<center>
<p style="font-size: 2em; margin-bottom: .6em;">Receive feedback from lean entrepreneurs.</p>
<p style="font-size: 2em; margin-bottom: .6em;">Validate your product and market hypothesis.</p>
<p style="font-size: 2em; margin-bottom: .6em;">Bring products to market faster and successfully.</p>
</center>
</div>
<% end %>