<% if @startup.invitations.any? %>
<%= simple_form_for(@startup.invitations, url: bulk_invite_path) do |f| %>
<div><%= f.hidden_field :startup_id %></div></br>
	<strong>Send Invitations</strong></br>
	<%= f.select :quantity, :users => ['10', '50', '100'] %></br>
	<%= f.submit "Send Invitations", class: "btn btn-success" %>
<% end %>
<% end %>