<%= simple_form_for(current_user.invitations.build(startup_id: @startup.id), remote: true) do |f| %>
<div><%= f.hidden_field :startup_id %></div>
	<b><%= f.submit "Request Invite", class: "btn btn-success" %></b>
<% end %>