<li id="<%= update_item.id %>">
  <span class="content"><%= update_item.content %></span>
  <div class="timestamp muted">
   Posted <%= time_ago_in_words(update_item.created_at) %> ago.
  </span>
</li>
