<li id="<%= update_item.id %>">
  <span class="content"><%= update_item.content %></span>
  <div class="timestamp muted">
   <%= time_tag(update_item.created_at) %> |
  </span>
  <% if signed_in? && current_user == @startup.user || current_user.admin? %>
  <%= link_to "Delete", update_item, method: :delete,
									   data: { confirm: "Are You Sure" },
									   title: update_item.content %>
  <% end %>
</li>
