
  <div class="sidebar-nav">
	<div class="nav-header"></div>
    <ul class="nav nav-list">
      <li><%= link_to "Startups", "#"  %></li>
      <li><%= link_to "Activity", "#"  %></li>
    </ul>
  </div><!--/.well -->
