<div id="tweet" style="display:inline-block;">
      <a class="twitter-share-button" data-count="horizontal" data-text="Leangild, customer development and discovery simplified." data-url="https://leangild.heroku.com" data-via="leangild" data-related="leangild" href="https://twitter.com/share"></a>
    </div>
    <span style="display:inline-block; vertical-align:text-bottom;">
      <div class="fb-like" data-href="https://leangild.heroku.com" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90">
      </div>
    </span>
    <div class="g-plusone" data-annotation="inline" data-href="https://leangild.heroku.com" data-size="medium" data-width="120">
</div>
