
<a href="https://twitter.com/share" class="socialite twitter-share" data-text="Leangild, customer discovery and development for entrepreneurs, product discovery for early adopters." data-via="leangild" data-hashtags="DiscoveryPlatform" data-dnt="true">Tweet</a>
<div class="socialite facebook-like" data-send="false" data-layout="button_count" data-width="300" data-show-faces="false" data-font="arial"></div>
<!-- Place this tag where you want the +1 button to render. -->
<div class="socialite googleplus-share" data-action="share" data-annotation="bubble"></div>





