<p>
<div><a href="https://twitter.com/share" class="socialite twitter-share" data-text="Product Discovery and Customer Development Platform." data-via="leangild" data-hashtags="DiscoveryPlatform" data-dnt="true">Tweet</a></div>
<!-- Place this tag where you want the +1 button to render. -->
<div class="socialite googleplus-share" data-action="share" data-annotation="bubble"></div>
<div class="socialite facebook-like" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false" data-font="arial"></div>
</p>







